.card-holder {
    columns: 4;
}
.card {
    /* height: 500px; */
}
.image {
    height: 300px;
    border-radius: 16px;
}
.card-title {
   color: blueviolet;
}
.card-text {
    color: rgb(43, 226, 171);
}