.card-holder {
    columns: 4;
}
.card {
    /* height: 550px; */
    margin-top: 40px;
    background-color: bisque;
    border-radius: 10px;
}
.image {
    height: 300px;
    border-radius: 16px;
    margin-top: 8px;
}
.card-title {
   color: blueviolet;
}
.card-text {
    color: rgb(43, 226, 171);
}
.book-btn{
    padding: 5px;
    border-radius: 4px;
    border: none;
    background-color: rgb(209, 182, 231);
    font-size: medium;
    margin-bottom: 8px;

}